/* odin calculator project styles*/
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 20px;
    background-color: darkslategray;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content:center;
    align-content:center;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: white;
  }

  .container {
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    width: 100vw;                   /*400px;               /*100vw;*/
    height: 100vh;                  /*500px;              /*100vh;*/
  }

  .nav-bar {
    height: 8%;
    width: 100%;
    background-color:black;
    display:flex;
    justify-content: flex-start;
    border-width: 1px;;
    border-style: solid;
    border-color: slategrey;
  }

  .header.undo {
    display:flex;
    justify-content: center;
    align-items: center;
    width :20%;
    height: 100%;
    border-width: 1px;;
    border-style: solid;
    border-color: slategrey;
    color:darkorange;
  }

  .header.title {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-width: 1px;;
    border-style: solid;
    border-color: slategrey;
    color: white;
  }

  .header.menu {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-width: 1px;;
    border-style: solid;
    border-color: slategrey;
    color: white;
  }

  .history {
    height: 25%;
    background-color:slategray;
    border-style: solid;
    border-color: black;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .prev {
    color: black;
  }

  .display {
    height: 12%;
    width: 100%;
    background-color:rgb(81, 96, 81);
   /* border-style: solid;
    border-color: black;*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    /*text-align: right;*/
  }

  .content {
    width: 100%;
    height:auto;
    background-color: rgb(81, 96, 81);
   /* border-style: solid;
    border-color: black;*/
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap:wrap;
    font-size:40px;
    color:chartreuse;
  }

  .buttons {
    height: 55%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:slategray;
    border-style: solid;
    border-color: black;
  }

  .btn-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width: 20%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color:slategray;
    margin:1px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100% ;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color:slategray;
    margin:1px;
  }

  .btn.double {
    height: 50%;
    background-color: rgb(81, 96, 81);
  }

  #clr,
  #del,#sign {
    color:darkorange;
    background-color: slateblue;
  }

  #divide,
  #multiply,
  #subtract,
  #add, #dp {
    background-color: steelblue;
  }

  .undo,
  .title,
  .menu {
    background-color: black;
  }